[mysqld]
bind-address=0.0.0.0
# http://www.percona.com/blog/2008/05/31/dns-achilles-heel-mysql-installation/
skip_name_resolve
#server-id
#log-bin

# InnoDB
# http://dev.mysql.com/doc/refman/5.1/en/innodb-parameters.html
innodb_buffer_pool_size        = 512M
innodb_flush_log_at_trx_commit = 2
innodb_flush_method            = O_DIRECT   # See open(2) for O_DIRECT info.
 
# Server system variables

